.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    word-break: break-word;
    margin: 0 48px;
}

@media screen and (max-width: 1279px) {
    .cover {
        margin: 0;
    }
}