.cover {
    background-size: cover;
    position: relative;
    margin: 0;
    background-image: url(../../images/cover-trains.jpg);
    z-index: 1;
}

.cover::before {
    content: "";
    position: absolute;
    background-color: rgb(42, 44, 47);
    opacity: .3;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cover:hover::before {
    opacity: .8;
}